body {
    text-align: center;
    background-color: orange;
}
h1 {
    color: khaki;
}
.menu {
    position: fixed;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}
.link {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
}
.picture {
    width: 400px;
    height: 300px;
}